name: "Release"

on:
  release:
    types:
      - "published"

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
      discussions: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/askoheat"
          zip askoheat.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836" # v2.3.3
        with:
          files: ${{ github.workspace }}/custom_components/askoheat/askoheat.zip
