name: "Release"

on:
  release:
    types:
      - "published"

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
      discussions: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/askoheat"
          zip askoheat.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090" # v2.4.1
        with:
          files: ${{ github.workspace }}/custom_components/askoheat/askoheat.zip
