name: "Validate"

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * *"
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  test:
    name: "Run automated tests"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

        - name: "Set up Python"
          uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # 5.6.0
          with:
            python-version: "3.12"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.test.txt

        - name: "Run pytest"
          run: python3 -m pytest

  hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

        - name: "Run hassfest validation"
          uses: "home-assistant/actions/hassfest@72e1db9d29431ebc9439e48504e687b53e90d366"

  hacs: # https://github.com/hacs/action
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0

        - name: "Run HACS validation"
          uses: "hacs/action@d556e736723344f83838d08488c983a15381059a" #22.5.0
          with:
            category: "integration"