name: "Validate"

on:
  workflow_dispatch:
  schedule:
    - cron:  "0 0 * * *"
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  test:
    name: "Run automated tests"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

        - name: "Set up Python"
          uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # 6.1.0
          with:
            python-version: "3.13"
            cache: "pip"

        - name: "Install requirements"
          run: python3 -m pip install -r requirements.test.txt

        - name: "Run pytest"
          run: python3 -m pytest

  hassfest: # https://developers.home-assistant.io/blog/2020/04/16/hassfest
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

        - name: "Run hassfest validation"
          uses: "home-assistant/actions/hassfest@01a62fa0b7ab4a0ac894184f48a82477812dca4b"

  hacs: # https://github.com/hacs/action
    name: "HACS Validation"
    runs-on: "ubuntu-latest"
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3" # v6.0.0

        - name: "Run HACS validation"
          uses: "hacs/action@d556e736723344f83838d08488c983a15381059a" #22.5.0
          with:
            category: "integration"